In [1]:
import numpy as np
import pandas as pd

In [2]:
t=np.arange(0,10,0.1)
freq=1.5
y=np.sin(2*np.pi*freq*t)
z=np.cos(2*np.pi*freq*t)

In [3]:
df=pd.DataFrame({'Time':t,'Yvals':y,'Zvals':z})

In [4]:
df.head()

   Time     Yvals     Zvals
0   0.0  0.000000  1.000000
1   0.1  0.809017  0.587785
2   0.2  0.951057 -0.309017
3   0.3  0.309017 -0.951057
4   0.4 -0.587785 -0.809017

In [5]:
df[10:16]

    Time         Yvals         Zvals
10   1.0  3.673940e-16 -1.000000e+00
11   1.1 -8.090170e-01 -5.877853e-01
12   1.2 -9.510565e-01  3.090170e-01
13   1.3 -3.090170e-01  9.510565e-01
14   1.4  5.877853e-01  8.090170e-01
15   1.5  1.000000e+00  5.510911e-16

In [14]:
df[10:16][['Yvals', 'Zvals']].to_csv('out.txt')